#MainContent {
    min-height: 60vh;
    height: 100%;
}

.CartItemCol, .DetailsCol {
    width: 30%;
    float: left;
    margin-left: 10px;
}

.CartItemCol img {
    margin-top: 5px;
    width: 70%;
    height: 200px;
}

.CartItem {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#Details {
    width: 100%;
    border-style: solid;
    border-width: 1px;
}

#Details p {
    margin-left: 10px;
}

.CartItem::after, #Details::after, #MainContent::after {
    content: "";
    clear: both;
    display: block;
}